li {
  list-style: none;
  margin-top: 10px;
  width: 1000px;
  height: 40px;
  background-color: black;
}
div {
  width: 0px;  
  height: 40px;
}
#tortoise {
  background-color: green;
}
#hare {
  background-color: yellow;
}
#fish {
  background-color: blue;
}
